.customers{
  padding-top: 150px;
  padding-bottom: 80px;
}
.customers__content {
  display: flex;
  justify-content: space-between;
  
}
.customer__column {
  min-height: 11.25rem;
  max-width: 23.125rem;
  margin: 0 15px;
  position: relative;
}
.customer__column-text {
  padding: 38px 10px;
  text-align: center;
  background-color: var(--main-lightgrey);
  border-radius: 10px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--main-grey);
  

}
.customer__column-triangle {
  width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid var(--main-lightgrey);
  position: absolute;
  left: 60px;
}
.customer__column-about {
  margin-top: 66px;
  display: flex;
  align-items: flex-start;
}
.customer__about-image {
  margin-right: 30px;
  align-self: start;
}
.customer__about-text {
  padding-top: 20px;
}
