.main-footer {
  background-color: black;
}
.main-footer__content {
  padding-top: 43px;
  display: flex;
  flex-direction: column;


}
.main-footer__logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-footer__text {
  color: #FFFFFF80;
  text-align: center;
}