.main-footer {
  background-color: black;
}
.main-footer__content {
  padding-top: 43px;
}
.main-footer__logo-row {
  display: flex;
  justify-content: space-around;
  max-width: 65.625rem;
  margin: 0 auto;
}
.main-footer__text {
  color: #FFFFFF80;
  text-align: center;
}
.main-footer__logo-icon{
  width: 53.2px;
height: 53.2px;
}