.registration {
  background-image: url("../assets/image/registration-background.jpg") ;
  min-height: 1026px;
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.registration:before {
  content: "";
  display: block;
  min-height: 1026px;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.registration__content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.registration__text {
  display: flex;
  flex-direction: column;
  padding-top: 231px;
}
.registartion__logo {
  margin-bottom: 72px;
  align-self: flex-start;
  max-width: 270px;
  max-height: 100px;
}
.registration__title {
  max-width: 670px;
  min-height: 168px;
  color: var(--main-white);
  margin-bottom: 55px;
}
.registration__subtitle {
  color: #ffffff;
  width: 270px;
  height: 42px;
  margin-bottom: 42px;
}
.registration__line{
  max-width: 170px;
  min-height: 1px;
  background-color: var(--main-white);
  margin-bottom: 42px; 
}
.registration__download{
  max-width: 270px;
  min-height: 58px;
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-white);
    border: 2px solid var(--main-white);
    background-color: transparent;
    cursor: pointer;
}
.registration__download:hover{
  transition: all .3s;
  transform: scale(1.1);
}
.registration__form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width : 470px;
  min-height: 450px;
  border-radius: 10px;
  margin: 70px 0 0 50px
}
.registration__form-legend {
  align-self: center;
  margin-bottom: 33px;
  margin-top: 33px;
  border: none;
  outline: none;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  min-height: 90px;
max-width: 367px;
}
.legend__orange{
  color: var(--main-orange);
  background-color: var(--main-white);
}
.registration__form-data{
  display: flex;
  flex-direction: column;
}
.registration__form-data-input {
  width: 370px;
  margin-bottom: 33px;
  border: none;
  border-bottom: 1px solid var(--main-lightgrey);
  outline: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-self: center;
}
.registration__form-data-submit {
  background-color: var(--main-orange);
  color: var(--main-white);
  border: none;
  margin-top: 75px;
  max-width: 500px;
  min-height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}