.social-media {
  /* padding: 15px; */
  max-width: 100%;
  min-height: 8.75rem;
  background: #f8efef;
}
.social-media__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.social-media__text {
  max-width: 40.1%;
}
.social-media__text-title {
  max-width: 29.375rem;
  max-height: 3.75rem;
}
.social-media__text-discription {
  padding-top: 10px;
  max-width: 26.375rem;
  max-height: 2.625rem;
}
.social-media__logo {
  max-width: 4.375rem;
  max-height: 4.375rem;
}