.stylish {
    padding-top: 114px;
    padding-bottom: 50px;
    background:linear-gradient(rgba(30, 29, 29, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image/stylish_background.jpg) ;
    background-size: contain;
    background-attachment: fixed;
}
.section-header--white {
    color: var(--main-white);
}
.section-header__title--white {
    color: var(--main-white);
}
.section-header__line--white {
    background-color: var(--main-white);
}
.section-header__subtitle--white {
    color: var(--main-white);   
}
.stylish__button {
    display: flex;
    justify-content: center;
}
.stylish__button-download {
    flex-basis: 370px;
    min-height: 58px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-white);
    border: 2px solid var(--main-white);
    background-color: transparent;
    cursor: pointer;
}
.stylish__button-download:hover{
    transition: all .3s;
    transform: scale(1.1);
}