.tabs {
  padding-top: 100px;
}
.tabs__buttons {
  display: flex;
  max-width: 43.75rem;
}
.tabs__button {
  border: none;
  background-color: white;
  width: 33.3%;
  height: 40px;
  cursor: pointer;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
}
.tabs__button--active {
  border-left: 1px solid #c6cbcd;
  border-top: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: none;
  border-top-right-radius: 10px;
  border-bottom: none;
  position: relative;
  top: 1px;
}
.tabs__content {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c6cbcd;
  padding: 50px 15px 10px 100px;
}
.tabs__content-text {
  max-width: 35.625rem;
}
.tabs__content-title {
  margin-bottom: 60px;
}
.tabs__content-discription {
  line-height: 20px;
  text-align: left;
  margin-bottom: 27px;
}
.tabs__content-download {
  background-color: var(--main-orange);
  width: 47.37%;
  height: 3.625rem;
  border: none;
  text-align: center;
  color: #fff;
  font-family: "open sans";
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}
.tabs__content-image {
  object-fit: contain;
  max-width: 100%;
}
.tabs__content-picture{
  margin: 0 0 20px 0;
}
