.tabs {
  padding-top: 100px;
}
.tabs__buttons {
  display: flex;
  max-width: 43.75rem;
}
.tabs__button {
  border: none;
  background-color: white;
  padding: 10px 85px;
  cursor: pointer;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
}
.tabs__button--active {
  border-left: 1px solid #c6cbcd;
  border-top: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: none;
  border-top-right-radius: 10px;
  border-bottom: none;
  position: relative;
  top: 1px;
}
.tabs__content {
  display: flex;
}
.tabs__content-text {
  padding: 50px 0 0 100px;
  border: 1px solid #c6cbcd;
  max-height: 31.25rem;
  padding-right: 30px;
}
.tabs__content-title {
  margin-bottom: 60px;
}
.tabs__content-discription {
  line-height: 20px;
  text-align: left;
  max-height: 13.125rem;
  min-width: 35.625rem;
  margin-bottom: 27px;
}
.tabs__content-download {
  background-color: var(--main-orange);
  width: 16.815rem;
  height: 3.625rem;
  border: none;
  color: #fff;
  font-family: "open sans";
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}
.tabs__content-image {
  max-width: 29.375rem;
  max-height: 31.25rem;
}
