:root {
    --main-orange: #ec7979;
    --main-grey: #86878b;
    --main-darkgrey: #333333;
    --main-lightgrey: rgb(226, 226, 226);
    --main-lightblack: #212121;
    --main-black: #000000;
    --main-white: #ffffff;
  }
  